<ul class="nav navbar-light bg-light justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="{{url_for('index')}}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('login')}}">Login</a>
  </li>
    <li class="nav-item">
  <a class="navbar-brand" href="#">JoPoke's Revenge</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('pokemon')}}">Search</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="{{url_for('register')}}">Register</a>
  </li>
</ul>



